<div class="container-fluid">
  <li>
    <div class="row mt-3">
      <div class="col-sm-12 col-md-2">
        <img class="imgCharacter" [src]="characterImg" alt="character image">
      </div>
      <div class="col-sm-12 col-md-3">
        <h3>{{ heroName }}</h3>
        <button class="btn btn-secondary m-1" (click)="favorite()">Favorite</button>
        <a class="btn btn-info m-1" (click)="goToPage('hero/:id')">Show details</a>
      </div>
    </div>
  </li>
</div>
<!-- [ngStyle]="{'background-color':vitalItem.value.color}" -->
