<div class="row mt-3">
  <div class="col-4">
    <img class="imgCharacter" [src]="characterImg" alt="character image">
  </div>
  <div class="col-8">
    <h3>Name : {{ heroName }}</h3>
    <p>{{ description }}</p>
  </div>
</div>

<div class="row mt-3">
  <div class="col-4">
    <div class="card text-left">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <a class="btn btn-primary" [href]="">Comics</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-left">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <a class="btn btn-primary" [href]="">Movies</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card text-left">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <a class="btn btn-primary" [href]="">Series</a>
      </div>
    </div>
  </div>
</div>

